<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <div>
      <% if (username) { %>
          <form class="form-inline" action="/logout" method="POST">
              <label class="navbar-item nav-link" style="color: #ffffff;font-size:16px;font-weight:bold">Logged in as: </label>
              <label class="navbar-item nav-link" style="font-size:18px;font-weight:bold;color:#ffffff"><%= username %></label>
              <button type="submit" class="btn btn-primary" style="background-color:#ff0000;border-color:#ff0000;font-weight:bold">Logout</button>
          </form>
      <% } else { %>
        <form class="form-inline" action="/login" method="POST">
            <label class="nav-item nav-link" for="username" style="color: #ffffff;font-size:16px;font-weight:bold">Login:</label>
            <input class="nav-item nav-link form-control" type="text" name="username" placeholder="Username" style="width: 125px">
            <button type="submit" class="btn btn-primary" style="margin-left:15px;background-color:#0011ff;border-color:#0011ff;font-weight:bold">Submit</button>
        </form>
      <% } %>
    </div>
  </nav>
</header>
